@import "variables";

%heading{
    font-family: $second-font;
    letter-spacing: 2px;
    white-space: nowrap;
}
%button{
    padding: 10px 20px;
    font-weight: bold;
    letter-spacing: 2px;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
%design{
 height: 50vh;
 background-size: cover;
 background-position: center;
 color: white;
 display: flex;
 flex-direction: column;
 gap: 70px;
 align-items: center;
 justify-content: center;
 h1{
    @extend %heading;
    font-size: 30px;
 }
 p{
    text-align: center;
    font-size: 22px;
    font-weight: 300;
    max-width: 500px;
 }
 button{
    @extend %button;
    border-radius: 0;
    background-color: transparent;
    border: 1px solid white;
    transition: all 0.5s;
    &:hover{
        background-color: white;
        color: black;
        transition: all 1s;
    }
 }

}